

.container2 div{
    background-color: aliceblue;
    margin: 17px;
    padding: 19px;
    font-size: 36px;
    color: black;
    height: 50px;
}
.container2 {
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content:flex-end;
    height: 200px;


}

.container2 div:nth-child(1){
     flex-grow:4;
     align-self: flex-end;
}


.container2 div:nth-child(2){
    height: 50px;
}
.container2 div:nth-child(4){
    height: 45px;
}
   .container2 div:nth-child(3){
    height: 95px;
} 


